<a href="https://colab.research.google.com/github/harshulgupt/Machine-Learning/blob/master/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
#loading data
df=pd.read_csv("http://13.234.66.67/summer19/datasets/social.csv")

In [81]:
#schema
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [82]:
# top 5 rows
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
filterdata=df.iloc[0:,2:]

In [84]:
filterdata

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
5     27            58000          0
6     27            84000          0
7     32           150000          1
8     25            33000          0
9     35            65000          0
10    26            80000          0
11    26            52000          0
12    20            86000          0
13    32            18000          0
14    18            82000          0
15    29            80000          0
16    47            25000          1
17    45            26000          1
18    46            28000          1
19    48            29000          1
20    45            22000          1
21    47            49000          1
22    48            41000          1
23    45            22000          1
24    46            23000          1
25    47            20000          1
26    49            28000          1
27    47            30000          1
28    29            43000          0
29    31            18000          0
..   ...              ...        ...
370   60            46000          1
371   60            83000          1
372   39            73000          0
373   59           130000          1
374   37            80000          0
375   46            32000          1
376   46            74000          0
377   42            53000          0
378   41            87000          1
379   58            23000          1
380   42            64000          0
381   48            33000          1
382   44           139000          1
383   49            28000          1
384   57            33000          1
385   56            60000          1
386   49            39000          1
387   39            71000          0
388   47            34000          1
389   48            35000          1
390   48            33000          1
391   47            23000          1
392   45            45000          1
393   60            42000          1
394   39            59000          0
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [85]:
#removing userid
filterdata=df.iloc[0:,2:].values
filterdata

array([[   19, 19000,     0],
       [   35, 20000,     0],
       [   26, 43000,     0],
       ...,
       [   50, 20000,     1],
       [   36, 33000,     0],
       [   49, 36000,     1]])

In [0]:
# now we can apply training test
features=filterdata[0:,0:2]
label=filterdata[0:,2]

In [0]:
#training and testing
from sklearn.model_selection import train_test_split

In [0]:
X,x,Y,y=train_test_split(features,label,test_size=0.2)

In [0]:
#now apply feature scaling
from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
#applying scaling in training data only
X=sc.fit_transform(X)

In [0]:
# testing and scaling
x=sc.transform(x)

In [0]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
# random forest call with number of decision TREE
Rclf=RandomForestClassifier(n_estimators=20)

In [0]:
#now training
trained=Rclf.fit(X,Y)

In [96]:
# now predincting
output=trained.predict(x)
output

array([1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0])

In [97]:
y

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0])

In [0]:
# to calculate accuracy
from sklearn.metrics import accuracy_score

In [99]:
accuracy_score(output,y)

0.9125